@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
body {
  padding: 0;
  display: flex;
  font-family: "Patrick Hand", cursive;
  background-color: #7e9c86;
  margin: 0;
}

#game-screen {
  display: flex;
  background-image: url(docs/assets/images/loading\ screem.jpg);
  background-size: cover;
  margin-bottom: 70px;
}

#start-btn {
  /* margin-left: 100px;
  margin-top: 450px; */
  width: 275px;
  height: 80px;
  border-radius: 50px;
  color: white;
  border: 5px solid white;
  background-color: #55695a;
  margin-bottom: 50px;
}

#game-intro {
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: stretch;
  align-content: flex-end;
}
#title {
  display: flex;
  font-size: 100px;
}

#game-intro > p {
  text-align: center;
  font-size: 20px;

  /* margin-left: 100px; */
}

#game-intro > h1 {
  font-size: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  /* margin-left: 100px; */
  color: white;
  text-decoration: underline;
}

#square1 {
  width: 10px;
  height: 10px;
  border: 5px solid black;
  display: flex;
}

#score {
  display: flex;
  font-size: 32px;
  color: white;
}

#lifes {
  font-size: 32px;
  color: white;
}

#web {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
  align-content: flex-end;
}

#score-game {
  height: 100vh;
  justify-content: center;
}

#lifes-score {
  height: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
  align-content: flex-end;
}

/* .div-leaderboard {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 340px;
}

.hidden {
  display: none;
}

#reset-btn {
  width: 275px;
  height: 80px;
  border-radius: 50px;
  color: white;
  border: 5px solid white;
  background-color: #55695a;
  margin-bottom: 50px;
}
 */
