body {
  padding: 0;
  display: flex;
}

#game-screen {
  display: flex;
  margin-left: 120px;
  margin-top: 35px;
  /* background-image: url(/docs/images/predio.jpg);
  background-size: contain;
  background-repeat: ;
  width: fit-content; */
  background-image: url(/docs/assets/images/city.jpg);
  background-size: cover;
}

#start-btn {
  margin-left: 100px;
  margin-top: 30px;
  width: 250px;
  height: 50px;
}

#game-intro {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  /* align-content: stretch; */
}

#game-intro > p {
  text-align: center;
  font-size: 20px;
  margin-left: 100px;
  margin-top: 200px;
}

#game-intro > h1 {
  display: flex;
  text-align: center;
  margin-left: 100px;
}

#square1 {
  width: 10px;
  height: 10px;
  border: 5px solid black;
  display: flex;
}

#game-intro > img {
  display: flex;
  height: 200px;
  margin-left: 100px;
}
